<h3>Registration Form </h3>
<form>
  <div>
    <label for="fname" id="title">NAME</label>
    <input type="text" id="fname" name="fname"> <br><br>
  </div>

  <div>
    <label for="lname"  id="title">EMAIL</label>
    <input type="text" id="lname" name="lname"><br><br>
  </div>

  <div>
    <label for="fname" id="title">PHONE NO.</label>
    <input type="text" id="fname" name="fname"><br><br>
  </div>

  <div>
    <label for="lname"  id="title">ADDRESS</label>
    <input type="text" id="lname" name="lname"><br><br>
  </div>

  <input type="submit" value="Submit">
</form>
